footer.content-info {
    background: #CECECE;
    font-size: .85em;
    padding: 20px 0;
    margin-top: 30px;
    .widget-last {
        font-size: $font-size-xs;
        float: right;
        color: white;
        .copyright {
          padding: 5px 0 10px;
        }
        a {
          color: white;
          &:hover {
            color: $brand-primary;
          }
        }
    }

  //Smaller Screen Devices
  @include media-breakpoint-down(sm) {
      .widget {
          width: 100%;
          text-align: center;
        &.widget_nav_menu {
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          margin-bottom: 1em;
          padding-bottom: 1em;
          ul.menu li {
              float: none;
              list-style: none;
              display: inline-block;
          }
        }
      }
  }

}

