nav {
  ul#menu-main-navigation {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    li {
      list-style: none;
      float: left;
      display: inline-block;
      margin: 0 3px;
      padding: 10px 0;
        a {
          display: inline-block;
          text-decoration: none;
          width: 100%;
          text-transform: uppercase;
          font-weight: 300;
          padding: 3px 3px;
          color: #fff;
          box-sizing: border-box;
          vertical-align: top;
          font-size: 13px;
          border: 1px solid rgba(255,255,255,0);
          &:hover {
            border: 1px solid rgba(255,255,255,1);
            color: #fff;
          }
        }
    }
  }
}

footer.content-info {
    .widget_nav_menu {
        display: inline-block;
        width: 60%;
        ul.menu {
            padding: 0;
            margin: 0;
            li {
              float: left;
              list-style: none;
              a {
                  color: white;
                  font-size: $font-size-xs;
                  padding: 5px 10px;
                  display: block;
                  &:hover {
                      color: $brand-primary;
                      text-decoration: none;
                  }
              }
            }

        }
    }
}